$LightGray: #9ea1a3;
$Very-Dark-Gray: hsl(0, 0%, 27%);
$lightDark: hsl(0, 0%, 54%);
$VeryLigtGray: #d5d9db;
$Hover: rgba(255, 255, 255, 0.548);
$HoverBtn: #d9dbe0;
$menuBg: #f4f5f7;
$ListBg: #ebecf0;
$Text: #091e42;
$Black: #091e42;
